@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Radio+Canada:ital,wght@0,300..700;1,300..700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


:root {
    --font-main: 'Inter', 'sans-serif';
    --font-radio: 'Radio Canada';
    --font-arabic: 'Tajawal';
    --soft-font-color: #555;
    --high-freq: #FF4136;
    --med-freq: #FF851B;
    --low-freq: #2ECC40;
    --rare-freq: #0074D9;
    --bg-color: #F4F7F6;
    --dark-bg-color: #090a0a;
}

/* ===========================================
    SEARCH & FILTER STYLES
============================================*/

/* ------------ SEARCH ---------- */
.search-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    text-align: center;
    color: #b43838;
    /* backdrop-filter: blur(10px); */
    background-color: #f7f7f7;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    box-shadow: 
        -5px -5px 10px #FFF,
        2px 2px 4px #00000049
        ;
    border-radius: 24px;
    margin: 20px;
    padding: 30px 25px;
    width: 100%;
}

.search-box {
    background-color: #FFF;
    box-shadow: 
        -5px -5px 10px #FFF,
        2px 2px 4px #00000049
        ;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 16px;
    overflow: hidden;
}

.search-icon {
    width: 50px;
    background: linear-gradient(90deg, #090a0a 0%, #1a1c1c 100%);
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.search-icon:hover {
    opacity: 0.9;
}

.search-input {
    font-size: 16px;
    color: #131313;
    background-color: #FFF;
    border: none;
    min-width: 300px;
    padding: 0.5rem 1.4rem;
}
.search-input:focus {
    outline: none;
}

/* ------------ FILTER ---------- */
.filter-box {
    background-color: #FFF;
    border-radius: 16px;
    box-shadow: 
        -5px -5px 10px #FFF,
        2px 2px 4px #00000049
        ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    padding-left: 0.8rem;
    overflow: hidden
}

.filter-box span {
    font-weight: 550;
    color: var(--soft-font-color);
}

.select-category {
    font-size: 16px;
    color: #FFF;
    background: linear-gradient(90deg, #090a0a 0%, #1a1c1c 100%);
    border: none;
    border-radius: 16px;
    box-shadow: 
        -5px -5px 10px #FFF,
        2px 2px 4px #00000049
        ;
    padding: 0.5rem 1.4rem;
}

.select-category option {
    color: #090a0a;
    border: none;
    border-radius: 16px;
}

/* ===========================================
    CATEGORY & TABLE
============================================*/
.table-section {
    display: flex;
    flex-direction: column;
}

.category-container {
    background: linear-gradient(90deg, #090a0a 0%, #1a1c1c 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 12px;
    box-shadow: 
        inset 0 1px 1px rgba(255, 255, 255, 0.1),
        0 4px 15px rgba(0, 0, 0, 0.5),
        0 0 20px rgba(46, 204, 64, 0.15)
        ;
    padding: 1.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
    position: sticky;
    top: -8px;
    z-index: 10;
}

.category-name {
    color:#ffffff;
}
/* =============================
    TABLE STYLES
============================= */
.fixed-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: none;
    border-radius: 2px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    margin-bottom: 40px;
    background-color: var(--bg-color);
}

.fixed-table th:nth-child(1),
.fixed-table th:nth-child(1) {
    width: 20%;
}

.fixed-table th:nth-child(1),
.fixed-table th:nth-child(1) {
    width: 15%;
}

.fixed-table th:nth-child(1),
.fixed-table th:nth-child(1) {
    width: 30%;
}

.fixed-table th:nth-child(1),
.fixed-table th:nth-child(1) {
    width: 35%;
}

thead tr {
    font-family: var(--font-main);
    font-size: 18px;
    background-color: #f1f3f2;
    color: var(--soft-font-color);
    letter-spacing: 1px;
    
}

/* -----------------------------
    frequency colors
------------------------------*/
.high-freq {
    border-left: 10px solid var(--high-freq) !important;
}
.medium-freq {
    border-left: 10px solid var(--med-freq)!important;
}
.low-freq {
    border-left: 10px solid var(--low-freq) !important;
}
.rare-freq {
    border-left: 10px solid var(--rare-freq) !important;
}

/* -----------------------------
    th 
------------------------------*/
th {
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    background-color: #dce2df;
    color: #444;
    border-bottom: 2px solid #bec3ca;
    position: sticky;
    top: 38px;
    /* margin-top: 10px; */
    z-index: 9;
}

th:nth-child(1) {
    border-left-width: 10px;
}

th:nth-child(2), th:nth-child(3) {
    text-align: right;
}

/* -----------------------------
    td 
------------------------------*/
td, th {
    width: auto;
    padding: 1.2rem 1rem;
    border: 1px solid rgb(216, 216, 216);
}


.en-word {
    font-family: var(--font-radio);
    font-weight: bold;
    font-size: 1.1rem;
    color: #222; 
    border-left-style: solid;
    border-left-width: 10px;
}

.meaning {
    font-family: var(--font-arabic);
    font-weight: 500;
    text-align: right;
}

.defAr {
    font-family: var(--font-arabic);
    font-weight: 500;
    text-align: right;
}

.word-row {
    transition: background 0.4s ease;
}
.word-row:hover {
    background-color: #e0e3e6 
}

/* =================================
    NO RESULTS / ERRORS
===================================*/

.no-results-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    /* backdrop-filter: blur(10px); */
    background-color: #f7f7f7;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    box-shadow: 
        -5px -5px 10px #FFF,
        2px 2px 4px #00000049
        ;
    border-radius: 24px;
    margin: 20px;
    padding: 30px 25px;
    width: 100%;
}

.no-results-content h3 {
    color:#b43838;
}

.reset-query-param-btn {
    font-size: 16px;
    color: #FFF;
    background: linear-gradient(90deg, #090a0a 0%, #1a1c1c 100%);
    border: none;
    border-radius:8px;
    box-shadow: 
        -5px -5px 10px #FFF,
        2px 2px 4px #00000049
        ;
    padding: 0.5rem 1.4rem;
    transition: all 0.3s ease;
}

.reset-query-param-btn:hover {
    background: linear-gradient(90deg, #171a1a 0%, #242727 100%);
}