.app-container {
  background-color: #d1d1d1;
  display: flex;
  flex-direction: column;
  align-items: center;
   justify-content: center; 
  border-radius: 18px;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  box-shadow: 0px 0px 12px #000000bb;
}

h1 {
  text-align: center;
  color: #21745f;
  margin-bottom: 20px;
}
